# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
xmltool

#tmp files
*~

#généré par bison
xml.tab.c
xml.output
xml.tab.h
lex.xml.c
